%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile1UciDc

section signature:

state_locationServer: agent * agent * symmetric_key * public_key * set(pair(text,pair(text,pair(agent,hash_func)))) * nat * agent * text * text * symmetric_key * text * hash_func * set(agent) * set(agent) * nat -> fact
state_target: agent * agent * symmetric_key * symmetric_key * nat * agent * text * text * text * hash_func * set(agent) * nat -> fact
state_locationRecipient: agent * agent * agent * symmetric_key * public_key * nat * text * text * text * symmetric_key * message * set(agent) * nat -> fact


section types:

Psi_Table, Dummy_Psi_Table: set(pair(text,pair(text,pair(agent,hash_func))))
PR, Dummy_PR, dummy_hash: hash_func
psi_LR, filtered_LI, li, ls_T_PR, pw_LR, lr_LS_filtered_LI, lr_T_N_LR, ls_LR_PW_LR, k_LR, t_LR_LR: protocol_id
LI, Psi_LR, PW_LR, N_LR, Dummy_LI, Dummy_PW_LR, Dummy_Psi_LR, Dummy_N_LR, dummy_nonce: text
k_LS, K_LS: public_key
k_T_LS, k_i_LS, k_T_LR, k_T_i, k_i_LR, K_LR, K_T_LS, K_T_LR, Dummy_K_LR, dummy_sk: symmetric_key
set_145, set_144, set_142, set_140, set_132, set_131, set_123, set_110, set_109: set
9, 7, 5, State, 3, 1, 8, SID, 10, 4, 2, 0, Dummy_State, SID2, SID1: nat
Set_73, Set_71, Set_49, Dummy_Set_73, Dummy_Set_71, Dummy_Set_49, Set_25, Dummy_Set_25, ASGoal: set(agent)
t, lr, ls, T, LR, LS, Dummy_T, Dummy_LR, dummy_agent, A2Goal, A1Goal, i: agent
Dummy_Filtered_LI, start, Filtered_LI, dummy_msg, MGoal: message


section inits:

initial_state init1 := 
 iknows(start).
 iknows(t).
 iknows(lr).
 iknows(ls).
 iknows(k_i_LS).
 iknows(k_LS).
 iknows(k_T_i).
 iknows(k_i_LR).
 iknows(i).
 state_locationRecipient(lr,t,ls,k_T_LR,k_LS,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_msg,set_110,3).
 state_target(t,ls,k_T_LR,k_T_LS,1,dummy_agent,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_123,4).
 state_locationServer(ls,lr,k_T_LS,k_LS,set_109,5,dummy_agent,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,dummy_hash,set_131,set_132,5).
 state_locationRecipient(lr,t,ls,k_T_LR,k_LS,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_msg,set_140,7).
 state_target(t,ls,k_T_LR,k_T_LS,1,dummy_agent,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_142,8).
 state_locationServer(ls,lr,k_T_LS,k_LS,set_109,5,dummy_agent,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,dummy_hash,set_144,set_145,9)


section rules:

step step_0 (LR,T,LS,K_T_LR,K_LS,Dummy_N_LR,Psi_LR,PW_LR,K_LR,Filtered_LI,Set_25,SID,N_LR) :=
 state_locationRecipient(LR,T,LS,K_T_LR,K_LS,0,Dummy_N_LR,Psi_LR,PW_LR,K_LR,Filtered_LI,Set_25,SID).
 iknows(start)
=[exists N_LR]=>
 state_locationRecipient(LR,T,LS,K_T_LR,K_LS,2,N_LR,Psi_LR,PW_LR,K_LR,Filtered_LI,Set_25,SID).
 iknows(pair(LR,scrypt(K_T_LR,pair(LR,N_LR)))).
 witness(LR,T,t_LR_LR,LR)

step step_1 (LR,T,LS,K_T_LR,K_LS,N_LR,Dummy_Psi_LR,Dummy_PW_LR,Dummy_K_LR,Filtered_LI,Dummy_Set_25,SID,Psi_LR,PW_LR,K_LR) :=
 state_locationRecipient(LR,T,LS,K_T_LR,K_LS,2,N_LR,Dummy_Psi_LR,Dummy_PW_LR,Dummy_K_LR,Filtered_LI,Dummy_Set_25,SID).
 iknows(pair(Psi_LR,scrypt(K_T_LR,pair(PW_LR,N_LR))))
=[exists K_LR]=>
 state_locationRecipient(LR,T,LS,K_T_LR,K_LS,8,N_LR,Psi_LR,PW_LR,K_LR,Filtered_LI,Dummy_Set_25,SID).
 secret(K_LR,k_LR,Dummy_Set_25).
 iknows(pair(Psi_LR,crypt(K_LS,pair(PW_LR,pair(K_LR,T))))).
 witness(LR,LS,ls_LR_PW_LR,PW_LR).
 request(LR,T,lr_T_N_LR,N_LR,SID).
 contains(LR,Dummy_Set_25).
 contains(LS,Dummy_Set_25)

step step_2 (LR,T,LS,K_T_LR,K_LS,N_LR,Psi_LR,PW_LR,K_LR,Dummy_Filtered_LI,Set_25,SID,Filtered_LI) :=
 state_locationRecipient(LR,T,LS,K_T_LR,K_LS,8,N_LR,Psi_LR,PW_LR,K_LR,Dummy_Filtered_LI,Set_25,SID).
 iknows(scrypt(K_LR,pair(Filtered_LI,T)))
 =>
 state_locationRecipient(LR,T,LS,K_T_LR,K_LS,10,N_LR,Psi_LR,PW_LR,K_LR,Filtered_LI,Set_25,SID).
 request(LR,LS,lr_LS_filtered_LI,Filtered_LI,SID)

step step_3 (T,LS,K_T_LR,K_T_LS,Dummy_LR,Dummy_N_LR,Dummy_Psi_LR,Dummy_PW_LR,Dummy_PR,Dummy_Set_49,SID,LR,N_LR,Psi_LR,PW_LR,PR) :=
 state_target(T,LS,K_T_LR,K_T_LS,1,Dummy_LR,Dummy_N_LR,Dummy_Psi_LR,Dummy_PW_LR,Dummy_PR,Dummy_Set_49,SID).
 iknows(pair(LR,scrypt(K_T_LR,pair(LR,N_LR))))
=[exists PR,PW_LR,Psi_LR]=>
 state_target(T,LS,K_T_LR,K_T_LS,3,LR,N_LR,Psi_LR,PW_LR,PR,Dummy_Set_49,SID).
 secret(PW_LR,pw_LR,Dummy_Set_49).
 iknows(pair(Psi_LR,scrypt(K_T_LR,pair(PW_LR,N_LR)))).
 witness(T,LR,lr_T_N_LR,N_LR).
 wrequest(T,LR,t_LR_LR,LR,SID).
 iknows(pair(T,pair(Psi_LR,scrypt(K_T_LS,pair(PW_LR,pair(T,PR)))))).
 witness(T,LS,ls_T_PR,PR).
 contains(T,Dummy_Set_49).
 contains(LR,Dummy_Set_49).
 contains(LS,Dummy_Set_49)

step step_4 (LS,LR,K_T_LS,K_LS,Dummy_Psi_Table,Dummy_T,Dummy_Psi_LR,Dummy_PW_LR,K_LR,LI,Dummy_PR,Set_71,Set_73,SID,T,Psi_LR,PW_LR,PR) :=
 state_locationServer(LS,LR,K_T_LS,K_LS,Dummy_Psi_Table,5,Dummy_T,Dummy_Psi_LR,Dummy_PW_LR,K_LR,LI,Dummy_PR,Set_71,Set_73,SID).
 iknows(pair(T,pair(Psi_LR,scrypt(K_T_LS,pair(PW_LR,pair(T,PR))))))
 =>
 state_locationServer(LS,LR,K_T_LS,K_LS,Dummy_Psi_Table,7,T,Psi_LR,PW_LR,K_LR,LI,PR,Set_71,Set_73,SID).
 wrequest(LS,T,ls_T_PR,PR,SID).
 contains(pair(Psi_LR,pair(PW_LR,pair(T,PR))),Dummy_Psi_Table)

step step_5 (LS,LR,K_T_LS,K_LS,Psi_Table,Dummy_T,Dummy_Psi_LR,Dummy_PW_LR,Dummy_K_LR,Dummy_LI,Dummy_PR,Dummy_Set_71,Dummy_Set_73,SID,T,Psi_LR,PW_LR,K_LR,LI,PR) :=
 state_locationServer(LS,LR,K_T_LS,K_LS,Psi_Table,7,Dummy_T,Dummy_Psi_LR,Dummy_PW_LR,Dummy_K_LR,Dummy_LI,Dummy_PR,Dummy_Set_71,Dummy_Set_73,SID).
 iknows(pair(Psi_LR,crypt(K_LS,pair(PW_LR,pair(K_LR,T))))).
 contains(pair(Psi_LR,pair(PW_LR,pair(T,PR))),Psi_Table)
=[exists LI]=>
 state_locationServer(LS,LR,K_T_LS,K_LS,Psi_Table,9,T,Psi_LR,PW_LR,K_LR,LI,PR,Dummy_Set_71,Dummy_Set_73,SID).
 secret(LI,li,Dummy_Set_71).
 secret(pair(PR,LI),filtered_LI,Dummy_Set_73).
 iknows(scrypt(K_LR,pair(pair(PR,LI),Dummy_T))).
 wrequest(LS,LR,ls_LR_PW_LR,PW_LR,SID).
 witness(LS,LR,lr_LS_filtered_LI,pair(PR,LI)).
 contains(Dummy_T,Dummy_Set_71).
 contains(LS,Dummy_Set_71).
 contains(Dummy_T,Dummy_Set_73).
 contains(LR,Dummy_Set_73).
 contains(LS,Dummy_Set_73).
 contains(pair(Psi_LR,pair(PW_LR,pair(T,PR))),Psi_Table)


section properties:

property secrecy_of_li (MGoal,ASGoal) :=
 [] ((secret(MGoal,li,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_filtered_LI (MGoal,ASGoal) :=
 [] ((secret(MGoal,filtered_LI,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_pw_LR (MGoal,ASGoal) :=
 [] ((secret(MGoal,pw_LR,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_LR (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_LR,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_lr_LS_filtered_LI (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,lr_LS_filtered_LI,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,lr_LS_filtered_LI,MGoal))
     /\ ((request(A1Goal,A2Goal,lr_LS_filtered_LI,MGoal,SID1)
           /\ request(A1Goal,A2Goal,lr_LS_filtered_LI,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property weak_authentication_on_ls_LR_PW_LR (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,ls_LR_PW_LR,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,ls_LR_PW_LR,MGoal))

property weak_authentication_on_ls_T_PR (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,ls_T_PR,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,ls_T_PR,MGoal))

property authentication_on_lr_T_N_LR (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,lr_T_N_LR,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,lr_T_N_LR,MGoal))
     /\ ((request(A1Goal,A2Goal,lr_T_N_LR,MGoal,SID1)
           /\ request(A1Goal,A2Goal,lr_T_N_LR,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property weak_authentication_on_t_LR_LR (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,t_LR_LR,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,t_LR_LR,MGoal))


section attack_states:

attack_state secrecy_of_li (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,li,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_filtered_LI (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,filtered_LI,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_pw_LR (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,pw_LR,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_LR (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_LR,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_lr_LS_filtered_LI (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,lr_LS_filtered_LI,MGoal,SID) &
 not(witness(A2Goal,A1Goal,lr_LS_filtered_LI,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_lr_LS_filtered_LI (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,lr_LS_filtered_LI,MGoal,SID1).
 request(A1Goal,A2Goal,lr_LS_filtered_LI,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_ls_LR_PW_LR (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,ls_LR_PW_LR,MGoal,SID) &
 not(witness(A2Goal,A1Goal,ls_LR_PW_LR,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_ls_T_PR (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,ls_T_PR,MGoal,SID) &
 not(witness(A2Goal,A1Goal,ls_T_PR,MGoal)) &
 not(equal(A2Goal,i))

attack_state authentication_on_lr_T_N_LR (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,lr_T_N_LR,MGoal,SID) &
 not(witness(A2Goal,A1Goal,lr_T_N_LR,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_lr_T_N_LR (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,lr_T_N_LR,MGoal,SID1).
 request(A1Goal,A2Goal,lr_T_N_LR,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_t_LR_LR (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,t_LR_LR,MGoal,SID) &
 not(witness(A2Goal,A1Goal,t_LR_LR,MGoal)) &
 not(equal(A2Goal,i))

      
