%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileuV9vqU

section signature:

state_alpha: agent * nat * nat -> fact


section types:

ra: protocol_id
State, 2, 1, 0, SID: nat
a, A, i: agent


section inits:

initial_state init1 := 
 iknows(a).
 iknows(pair(a,0)).
 iknows(i).
 state_alpha(a,0,2)


section rules:

step step_0 (A,SID) :=
 state_alpha(A,0,SID).
 iknows(pair(A,0))
=>
 state_alpha(A,1,SID)

section properties:

property authentication_on_ra (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,ra,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,ra,MGoal))
     /\ ((request(A1Goal,A2Goal,ra,MGoal,SID1)
           /\ request(A1Goal,A2Goal,ra,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state authentication_on_ra (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,ra,MGoal,SID) &
 not(witness(A2Goal,A1Goal,ra,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_ra (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,ra,MGoal,SID1).
 request(A1Goal,A2Goal,ra,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

      
